services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: laravel_app
    restart: unless-stopped
    working_dir: /var/www
    volumes:
      - ./src:/var/www
    networks:
      - laravel

  webserver:
    image: httpd:alpine
    container_name: laravel_webserver
    restart: unless-stopped
    ports:
      - "8000:80"
    volumes:
      - ./src:/var/www
      - ./apache/httpd.conf:/usr/local/apache2/conf/httpd.conf  # Apache config path
      - ./apache/vhost.conf:/usr/local/apache2/conf/extra/httpd-vhosts.conf  # Virtual hosts
    networks:
      - laravel

  db:
    image: mysql:8.0
    container_name: laravel_db
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: ProyectoCursoAsignaciones
      MYSQL_ROOT_PASSWORD: password
      MYSQL_PASSWORD: columbinastan
      MYSQL_USER: musso
    volumes:
      - dbdata:/var/lib/mysql
    ports:
      - "3306:3306"
    networks:
      - laravel

  phpmyadmin:
    image: phpmyadmin:latest
    container_name: laravel_phpmyadmin
    restart: unless-stopped
    ports:
      - "8080:80"
    environment:
      PMA_HOST: db
      PMA_PORT: 3306
      MYSQL_ROOT_PASSWORD: password
    networks:
      - laravel
    depends_on:
      - db

volumes:
  dbdata:

networks:
  laravel:
    driver: bridge