.hover-bg-fade:hover {
    background-color: rgba(255,255,255,0.15);
    transition: background-color 0.2s ease;
}
.active-nav {
    background-color: rgba(255, 30, 30, 0.4); 
}
.list-inline-item a {
    display: inline-block;
    padding: 1rem 1.5rem;
    margin: -0.5rem 0;
    text-decoration: none;
}
.title-colored-text {
    color:rgba(255, 30, 30, 0.4);
}
.table-rounded {
    border-collapse: separate;
    border-spacing: 0;
    border: 1px solid #dee2e6;
    border-radius: 0.375rem; 
    overflow: hidden;
}

.table-rounded th:first-child,
.table-rounded td:first-child {
    border-left: none;
}

.table-rounded th:last-child,
.table-rounded td:last-child {
    border-right: none;
}
h1, h2, h3, h4, h5, h6, thead {
    font-weight: bold; 
    letter-spacing: 0.5px;
}
p, a, span, tbody{
    font-weight: normal;
    letter-spacing: 0.5px;
}